.edit-modal {
  z-index: 20;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  display: none;
  border-radius: 10px;
}

.edit-modal.active {
  display: block;
}

.edit-modal__body {
  /* max-width: 950px; */
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #122d49;
  border-radius: 1rem;
  padding: 4rem 1.2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.edit-modal__title {
  margin: 0 0 1rem 0;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  color: #ee4217;
}

.edit-modal__text {
  margin: 0 0 3rem 0;
  font-style: italic;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
}

.modal-btn {
  padding: 0.8rem;
  background-color: #fff;
  border-color: #112d49;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  transition: all 0.3s linear;
  border-style: solid;
  letter-spacing: 0.4px;
}

.modal-btn:hover {
  background-color: #122d49;
  color: #fff;
  border-color: #fff;
}

.edit-modal__btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}

.edit-modal__inputs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: 0 0 3rem 0;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  color: #e9b424;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.4px;
}

.edit-modal__inputs {
  width: 12.5rem;
  color: #000;
  font-weight: 600;
  font-size: 1.5rem;
  border: 1px solid #fff;
  padding: 0.3rem;
}

.edit-modal__inputs:disabled {
  color: #c5c5c5;
}
