/* Main Styles */
.table-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.table {
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.searchBar {
  width: 420px;
  padding: 0.6rem;
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  border-radius: 8px;
  border-style: solid;
  border-color: rgb(233, 233, 233);
}

tr:hover {
  background-color: #fff1e1;
}

td {
  font-size: 1.1rem;
  border-bottom: 1px solid #b1b1b1;
  border-right: 1px solid #b1b1b1;
}

.theader__item {
  font-size: 1.25rem;
  text-align: center;
  vertical-align: middle;
  padding: 0.8rem 0 0.8rem;
  background-color: #e9b424;
  color: #000;
}

.theader__item:nth-child(1) {
  border-top-left-radius: 10px;
}

.theader__item:nth-child(8) {
  border-top-right-radius: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.addBtn {
  width: 150px;
  padding: 0.6rem;
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  border-radius: 8px;
  border: 2px solid;
  border-color: #000;
  background-color: #e9b424;
  transition: all 0.3s linear;
  cursor: pointer;
}

.addBtn:hover {
  background-color: #fff;
  border-color: #e9b424;
}
